@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

.wallet-adapter-button-trigger {
  background: rgb(100, 26, 230) !important;
  border-radius: 8px !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
}
.wallet-adapter-dropdown-list,
.wallet-adapter-button {
  font-family: inherit !important;
}

/* Added new styles 134D93F */
.chat-bubble {
  max-width: 100%;
}

.wallet-adapter-button {
  font-size: 13px;
  height: 36px;
}

.btn {
  height: 2rem;
  min-height: 2rem;
}

.menu {
  line-height: 0.75rem;
}

.btn-circle {
  width: 1rem;
  min-height: 1rem;
  height: 1rem;
}

